In [1]:
import pandas as pd
import numpy as np
import openpyxl

## Average of  misc costs

In [5]:
#Reading the excel file as dataframe and checking the first n rows
df1=pd.read_excel("VA_Other.xlsx")
#df1.drop('Unnamed: 7', axis=1, inplace=True)
df1.columns = ['Family','Adult','Infant','Preschooler','Schoolager','Teenager','County','Miscellaneous costs']
for i in ['Adult','Infant','Preschooler','Schoolager','Teenager']:
    df1[i]=df1[i].fillna(0)
df1.head()

,Family,Adult,Infant,Preschooler,Schoolager,Teenager,County,Miscellaneous costs
0,a1i0p0s0t0,1,0,0.0,0.0,0.0,Accomack County,135.48
1,a1i1p0s0t0,1,1,0.0,0.0,0.0,Accomack County,271.87
2,a1i0p1s0t0,1,0,1.0,0.0,0.0,Accomack County,257.98
3,a1i0p0s1t0,1,0,0.0,1.0,0.0,Accomack County,248.52
4,a1i0p0s0t1,1,0,0.0,0.0,1.0,Accomack County,217.83

In [6]:
#checking the datatypes of each column
df1.dtypes

Family                  object
Adult                    int64
Infant                   int64
Preschooler            float64
Schoolager             float64
Teenager               float64
County                  object
Miscellaneous costs    float64
dtype: object

In [7]:
#Getting the length of dataframe
len(df1.Adult)

95627

In [8]:
#Finding the total count of a family by adding the members and storing it in Total_pop
total_pop=(df1.Adult + df1.Infant + df1.Preschooler + df1.Schoolager + df1.Teenager)
df1['Total_pop']=total_pop
df1.head()

,Family,Adult,Infant,Preschooler,Schoolager,Teenager,County,Miscellaneous costs,Total_pop
0,a1i0p0s0t0,1,0,0.0,0.0,0.0,Accomack County,135.48,1.0
1,a1i1p0s0t0,1,1,0.0,0.0,0.0,Accomack County,271.87,2.0
2,a1i0p1s0t0,1,0,1.0,0.0,0.0,Accomack County,257.98,2.0
3,a1i0p0s1t0,1,0,0.0,1.0,0.0,Accomack County,248.52,2.0
4,a1i0p0s0t1,1,0,0.0,0.0,1.0,Accomack County,217.83,2.0

In [22]:
list(total_pop)==list(total_pop).sort()

False

In [9]:
county= df1['County'].unique()
len(county)

133

In [10]:
county_df1=df1.loc[df1['County']=='Accomack County']
county_df=county_df1.sort_values(by='Total_pop')
l1=list(county_df.Total_pop)
l2=l1
l1.sort()
l2==l1

True

In [11]:
df_tax=county_df.loc[:, 'Miscellaneous costs':]
df_taxgrouped=df_tax.groupby(['Total_pop']).mean()
df_taxgrouped.iloc[:7,:1]

           Miscellaneous costs
Total_pop
1.0                 135.480000
2.0                 246.128000
3.0                 304.865333
4.0                 374.488286
5.0                 435.145672
6.0                 494.327632
7.0                 546.655475

In [13]:
total_cnt=[]
for cnt in county:
    county_df1=df1.loc[df1['County']==cnt]
    county_df=county_df1.sort_values(by='Total_pop')
    
    df_tax=county_df.loc[:, 'Miscellaneous costs':]
    df_taxgrouped=df_tax.groupby(['Total_pop']).mean()
    total_cnt.append(list(df_taxgrouped.iloc[:7,:1]['Miscellaneous costs']))
print(len(total_cnt), len(total_cnt[0]))

133 7

In [14]:
df_final=pd.DataFrame(total_cnt, columns=['HH1','HH2','HH3','HH4','HH5','HH6','HH7'])
df_final=df_final.round(2)
df_final.insert(0,'County',county)
df_final.head(10)

              County     HH1     HH2     HH3     HH4     HH5      HH6      HH7
0    Accomack County  135.48  246.13  304.87  374.49  435.15   494.33   546.66
1   Albemarle County  187.18  327.88  412.03  510.52  599.41   711.18   802.58
2    Alexandria city  244.34  430.25  557.71  715.65  859.15  1029.26  1174.37
3   Alleghany County  129.33  246.37  307.86  377.65  439.26   510.91   569.90
4      Amelia County  156.99  266.42  325.35  399.22  461.45   535.21   593.89
5     Amherst County  147.37  259.44  318.95  391.11  453.33   527.11   586.83
6  Appomattox County  135.35  244.72  301.75  370.91  430.03   498.77   554.34
7   Arlington County  263.67  462.94  602.45  774.86  931.50  1117.52  1275.85
8     Augusta County  147.41  274.95  346.38  433.33  508.44   590.83   660.15
9        Bath County  130.75  249.91  315.11  390.35  457.35   529.00   590.81